body {
    font-family: "Times New Roman", serif;
}

h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px;
}

label {
    display: block;
    font-weight: bold;
}

input[type='radio'], input[type='checkbox'] {
    margin-right: 5px;
    cursor: pointer;
}

input[type='radio'] + label {
    font-size: 30px;
    padding: 5px;
}

input[type='checkbox'] + label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}

input[type=text], input[type=reset], input[type=button], input[type=number], textarea, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid lightslategray;
    font-size: 16px;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    table-layout: fixed;
}

td {
    padding: 10px;
    border: 1px solid black;
    vertical-align: top;
}